nav{
justify-content: space-between;
display: flex;
width: 50vh;}
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;}

a{
font-size: 20px;
text-decoration: none;
font-family: sans-serif;
color: rgb(60, 60, 153);}

a:hover{
color: rgb(117, 147, 202);}