*{
box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

nav{
width: 50vm;
display:flex;
justify-content: space-between;
}

a{
font-size: 25px;
text-decoration: none;
color: #415897;
font-family: sans-serif;
}
a:hover{
color: rgb(104, 185, 231);}